    {{#if error}}
    <h1>Error</h1>
    <p>Title debe ser un string y Price un number</p>
    {{/if}}
    <form method="post" action="/api/productos">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="price">price:</label><br>
        <input type="number" id="price" name="price">
        <input type="submit" value="enviar">
      </form> 
      <br>
      <button onclick="window.location.href='http://localhost:8080/api/productos';">
        Productos
      </button>