<h1>Nuestros Juegos</h1>
<ul>
    {{#each productos }}
    <li>{{this.title}} {{this.price}}</li>
    {{/each}}
</ul>
 <button onclick="window.location.href='http://localhost:8080/api';">
      Formulario
    </button>